/* Reset básico */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

/* Estilo para o corpo */
body {
    background-color: #eafaf1; /* Verde muito claro */
    color: #2d3e3a; /* Verde escuro para texto */
    font-size: 16px;
    line-height: 1.5;
    padding: 20px;
}

/* Header */
header {
    background-color: #007f4e; /* Verde médio */
    color: white;
    padding: 15px 20px;
    text-align: center;
    border-bottom: 5px solid #00653e; /* Verde mais escuro */
}

/* Navegação */
nav {
    background-color: #2d6a4f; /* Verde escuro */
    color: white;
    padding: 10px;
}

    nav ul {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

        nav ul li a {
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            transition: color 0.3s;
        }

            nav ul li a:hover {
                color: #a8dadc; /* Verde claro */
            }

/* Conteúdo principal */
main {
    margin: 20px auto;
    max-width: 800px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-left: 5px solid #52b788; /* Verde suave */
    border-right: 5px solid #52b788; /* Verde suave */
}

/* Botões */
.btn.btn-primary {
    background-color: #52b788; /* Verde médio */
    border-color: #40916c; /* Verde mais escuro */
    color: #ffffff; /* Texto branco */
    font-size: 1.2rem; /* Aumenta o tamanho da fonte */
    padding: 5px 10px; /* Ajusta o espaçamento interno */
    border-radius: 8px; /* Deixa os cantos mais arredondados */
    transition: background-color 0.3s ease; /* Adiciona transição suave */
    margin-top: 3px;
}

    /* Efeito hover */
    .btn.btn-primary:hover {
        background-color: #40916c; /* Verde mais escuro */
        border-color: #1b4332; /* Verde ainda mais escuro */
        color: #f1f1f1; /* Texto levemente mais claro */
    }



select {
    background-color: #f9f9f9;
    border-radius: 4px;
    padding: 8px;
    font-family: Arial, sans-serif;
}

