@model aplicacaoFinal.Models.Usuario

@{
    ViewData["Title"] = "Cadastrar Usuário";
}

<h1>Cadastrar Usuário </h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ModeloCarro" class="control-label"></label>
                <input asp-for="ModeloCarro" class="form-control" />
                <span asp-validation-for="ModeloCarro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KwCarro" class="control-label"></label>
                <input asp-for="KwCarro" class="form-control" />
                <span asp-validation-for="KwCarro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModeloPino" class="control-label"></label>
                <select id="ModeloPino" name="ModeloPino">
                    <option value="PinoEncaixeRapido">Pino de Encaixe Rápido</option>
                    <option value="PinoRoscado">Pino Roscado</option>
                    <option value="PinoPressao">Pino de Pressão</option>
                    <option value="PinoChaveta">Pino de Chaveta</option>
                    <option value="PinoRetencao">Pino de Retenção</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
