@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ponto Elétrico</h1>
    <p>Enconte o melhor local para carregar seu automóvel elétrico</p>
    <img src="~/css/logoProjeto.png" alt="logo" />
</div>
